# Core dependencies
aiofiles
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
asyncio-throttle
attrs
backoff
cachetools
certifi
charset-normalizer
click
colorama
dill
filetype
frozenlist
google-ai-generativelanguage
google-api-core
google-auth
googleapis-common-protos
gql
graphql-core
grpcio
grpcio-status
h11
httpcore
httpx
idna
jsonpatch
jsonpointer
langchain
langchain-core
langchain-google-genai
langchain-text-splitters
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
mando
markdown-it-py
mdurl
multidict
numpy
orjson
ormsgpack
packaging
pandas
propcache
proto-plus
protobuf
pyasn1
pyasn1_modules
pydantic
pydantic-settings
pydantic_core
python-dateutil
python-dotenv
pytz
PyYAML
requests
requests-toolbelt
rich
rsa
six
sniffio
SQLAlchemy
structlog
tenacity
typing-inspection
typing_extensions
tzdata
urllib3
uv
xxhash
yarl
zstandard

# Dev / Linting / Testing
mypy
mypy_extensions
pathspec
platformdirs
tomlkit
black
isort
flake8
pylint
mccabe
pycodestyle
pyflakes
radon
pytest
pytest-asyncio
pytest-mock